.git
.var
node_modules
tmp
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.sample
!**/.env.example
!**/.env.sample
*.pem
*.key
*.crt
*.cer
*.p12
*.pfx
*.jks
*.keystore
.ssh
**/.ssh
.netrc
**/.netrc
.npmrc
**/.npmrc
id_rsa
id_rsa.*
id_dsa
id_dsa.*
id_ecdsa
id_ecdsa.*
id_ed25519
id_ed25519.*
